# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Windows
# =========================

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk
*.log
Workspace06/Design01.cydsn/codegentemp
Debug
*_timing.html
*.cyprj.*
*.cywrk.*
Workspace06/Design01.cydsn/Design01.rpt
*.cyfit
Workspace06/Design01.cydsn/Export/PSoCCreatorExportIDE.xml
Workspace06/Design01.cydsn/Generated_Source/PSoC5/cydevice.h
Workspace06/Design01.cydsn/Export/PSoCCreatorExportIDE.xml
Workspace06/Design01.cydsn/Generated_Source/PSoC5/cydeviceiar.inc
Workspace06/Design01.cydsn/Generated_Source/PSoC5/cydevice_trm.h
Workspace06/Design01.cydsn/Generated_Source/PSoC5/cymetadata.c
Workspace06/Design01.cydsn/Generated_Source/PSoC5/cymetadata.c
Workspace06/Design01.cydsn/Generated_Source/PSoC5/cyfitter_cfg.c